
body{
    width:100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUE5V5npX8SspPBMAu1jVeLQbZF1IzNTCGgA&usqp=CAU);
    background-position: center;
    background-size: cover;
    
    
}


.c{
    text-align: center;
    margin-left: 40%;
    
    

}
.tt{
    color: #fff;
    letter-spacing: 1px;
    margin: 12px;
    text-align: center;


}
.p{
    width: 600px;
    height: 700px;
    background-color: black;
    border-radius: 4px;
    padding-bottom: 15px;
    transform: translate(-20%);
}
.tt h1{
    padding: 30px 0;
    text-transform: capitalize;
    font-size: 35px;
    font-family: 'Pacifico';
    text-align: center;
    
}
form{
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 50%;
  transform: translate(-50%);

}
form input{
    margin-bottom: 5px;
    border: 1px solid rgba(0,0,0,0,0.4);
    border-radius: 3px;
    outline: none;
    
}
form input:focus{
    border: 1px solid rgba(0,0,0,0,0.7);
    background: #cc2366;

}
input[type="text"],input[type="password"]{
    padding-left: 10px;
    position: relative;
    height: 35px;
    font-size: 16px;

}


input::placeholder{
    font-weight: normal;
    font-size: 13px;
    transition: translate(-8px);

}

form button{
    border: none;
    background: linear-gradient(45deg,#f09433 0%, #e6683c 25%, #dc2743 50% ,#cc2366 75%, #bc1888 100%) ;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor:pointer;
    width: 150px;
    height: 50px;
    margin-left: 135px;
}
form button:active{background: whitesmoke;
    transform: scale(0.995);


}
form button a{
    text-decoration: none;
}

form  .op{
color: #5a5a5a;
margin: 10px 0;
font-weight: bold;
position: relative;
}
form .op::before{
    position: absolute;
    content:'' ;
    width: 27%;
    height: 2px;
    background: #b6b6b6;
    left: 0;
    top: 50%;
    margin-left: 100px;
    transform: translate(-50%);
    border-radius: 50px;


}form .op::after{
    position: absolute;
    content:'' ;
    width: 27%;
    height: 2px;
    background: #b6b6b6;
    right: 0;
    top: 50%;
    margin-left:300px;
    transform: translate(-50%);
    border-radius: 50px;
    

}
.facebook{
    margin-top: 15px;
    width: 100%;

}
.facebook .fa{
    font-size: 18px;
    color: #2c58fe;
    margin-right: 5px;

}
.facebook a{
    text-decoration: none ;
    font-weight: bold;color: #b6b6b6;



}
.forget{
     margin:15px;
     font-size: x-large;
     font-weight: 400;

}
.forget a{
        text-decoration: none ;
        color: #b6b6b6;
        font-size: 15px;
        font-weight: 500;



    
}
.p .signup{
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    width: 70%;
    left: 50%;transform: translate(-50%);
    margin-top: 30px;
    color: #b6b6b6;



}
.signup a{
    text-decoration: none ;
     color:  #e6683c ;
    
        margin-left: 5px;
        font-weight: bold;
         text-align: center;


}